body, html{
  height:100%;
}

body {
  background-image: url('https://wallup.net/wp-content/uploads/2015/12/232470-nature-landscape-mountain-clouds-snowy_peak-Mount_Kilimanjaro-Africa-snow-aerial_view-bird039s_eye_view.jpg');
  background-size: cover;

  margin: 0px;
  background-color:#444;
  font-size: 18px;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}

.title, .addDancerButton {
  padding:5px 12px;
  float:right;
}

.topbar {
  height:32px;
  background-color: #555;
}

.title {
  background-color: #777;
}

.defaultDance {
  border:10px;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer {
  border:10px;
  border-radius: 10px;
  position:absolute;
}

.growingDancer {
  transition: all .2s ease-in-out;
  border: 15px solid pink;
  border-radius: 18px;
}


.planeDancer {
  /* width: 50%;
  height: 50%; */
  border: 10px;
  border-radius: 10 px;
  animation: rotation 8s infinite linear;
  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }